body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input{
  padding: 10px 15px;
  font-size: 20px;
}

.input:focus{
  outline: none;
}
.calculate{
  padding: 10px 15px;
  font-size: 20px;
  background-color: green;
  border: 1px solid;
  border-radius: 10px;
}